---
import { Image } from "astro:assets";
import insta1 from "../assets/images/instagram1.png";
import insta2 from "../assets/images/instagram2.png";
import insta3 from "../assets/images/instagram3.png";
import insta4 from "../assets/images/instagram4.png";
---

<h3 class=" text-Raleway text-xl lg:text-3xl font-bold ml-10 lg:ml-10 text-[#d10023] mt-10">Følg os på Instagram</h3>
<div class=" flex justify-between md:mx-10 mb-16 md:mb-24">

    <div class="mx-10 w-[350px] h-[330px] md:mx-0 lg:mx-0 md:w-[220px] md:h-[200px]  lg:w-[260px] lg:h-[240px] hover:opacity-70 hover:ease-out transition duration-300">
        <a href="https://www.instagram.com/reel/C6MY5opMkVf/" class="">
            <Image src={insta1} alt="" class="w-full h-full " ></Image>
        </a>
    </div>

    <div class=" md:w-[220px] md:h-[200px]  lg:w-[260px] lg:h-[240px] hover:opacity-70 hover:ease-out transition duration-300">
        <a href="https://www.instagram.com/p/C56eKCcMefR/" class="hidden md:block">
            <Image src={insta2} alt="" class="md:w-[220px] md:h-[200px]   lg:w-[260px] lg:h-[240px] " ></Image>
        </a>
    </div>

    <div class="md:w-[220px] md:h-[200px]   lg:w-[260px] lg:h-[240px] hover:opacity-70 hover:ease-out transition duration-300">
        <a href="https://www.instagram.com/p/C38Y16hM21M/" class="hidden md:block ">
            <Image src={insta3} alt="" class="md:w-[220px] md:h-[200px]   lg:w-[260px] lg:h-[240px] " ></Image>
        </a>
    </div>
    
    <div class="md:w-[220px] md:h-[200px]  lg:w-[260px] lg:h-[240px] hover:opacity-70 hover:ease-out transition duration-300">
        <a href="https://www.instagram.com/p/C3Z4_qMs4bM/" class="hidden md:block">
            <Image src={insta4} alt="" class="md:w-[220px] md:h-[200px] lg:w-[260px] lg:h-[240px] " ></Image>
        </a>
    </div>
</div>