
---
import Button from "../components/Button.astro";
---

<h1 class="uppercase px-4 lg:px-32 text-hero-100 mt-10 -mb-5 -ml-0.5 text-3xl lg:text-5xl lg:-mb-12 lg:-ml-2">Dansestudiet</h1>

<div class="bg-hero-100">

    <div class="lg:px-20">
        <div class="pt-10 ml-5">
            <div class="lg:hidden md:block">
                <div class="z-100">
                    <a href="https://www.figma.com/proto/i7aRsxJaidiKFJrXn2Qude/Dansestudiet?type=design&node-id=95-363&scaling=scale-down&page-id=26%3A6&starting-point-node-id=171%3A2712" target="_blank">
                        <Button variant="primary" size="small">Vores hold</Button>
                    </a>
                </div>
            </div>
    
            <div class="hidden lg:block">
                <div class="lg:flex lg:justify-end lg:mr-20 lg:mt-36">
                    <a href="https://www.figma.com/proto/i7aRsxJaidiKFJrXn2Qude/Dansestudiet?type=design&node-id=95-363&scaling=scale-down&page-id=26%3A6&starting-point-node-id=171%3A2712" target="_blank">
                        <Button variant="primary" size="large">Vores hold</Button>
                    </a>
                </div>
            </div>
        </div>
    </div>
        
        <div class="grid grid-cols-2 gap-0 lg:grid-cols-3 lg:-mt-48">
    
            <div class="mt-14 z-10 w-200 h-200 lg:w-[484px] lg:h-[304px] xl:w-[584px] xl:h-[304px]">
                <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
    
                <dotlottie-player src="https://lottie.host/ac1c45cc-e618-40be-b291-6d72e7ffd4d8/VZ4GXppPai.json" background="transparent" speed="0.8" loop autoplay></dotlottie-player>
            </div>
    
            <div class="z-20 rounded-full -ml-5 lg:ml-20 -mt-16 w-200 h-200 lg:w-[498px] lg:h-[311px] lg:mt-5">
                <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
    
                <dotlottie-player src="https://lottie.host/d92f9f4d-d1fa-424b-90cc-cf4644407d51/zczrW0eo9C.json" background="transparent" speed="1" loop autoplay></dotlottie-player>
            </div>
    
        </div>
    
    
    <div class="grid grid-cols-2 mt-6 gap-0">
    
    <div class="text-white text-sm lg:text-base">
        <p class="font-lighter ml-10 lg:ml-32 -mr-5 italic py-10 ">Experimental Contemporary,  Afro, House, Street Jazz, Commercial Femme, Hip Hop, Ballet, Moderne  Dans, Smidighedstræning, House, Breakdance, Fusion Contemporary, Yoga,  Waacking, Workshops m.m.</p>
        <p class="font-bold text-center lg:ml-32 mx-10 pb-10 mt-4 w-full text-white lg:text-base lg:text-left">Vi har mere end 50 danseklasser om ugen for alle aldre og niveauer!</p>
    </div>
    
    <div class="mb-10 ml-20 -mt-20 w-170 h-170 lg:h-[304px] xl:w-[684px] xl:h-[404px] lg:-mt-40 lg:z-10">
        <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
    
        <dotlottie-player src="https://lottie.host/37dc9b41-5a8c-4a30-9074-eb70116eb175/3b9WlSsjoc.json" background="transparent" speed="1" loop autoplay></dotlottie-player>
    </div>
    </div>
    </div>

    

</div>

