---
---

<div class="px-36 hidden lg:block">
    <h3 class="py-4 text-xl lg:text-3xl font-bold ml-10 lg:ml-10 text-[#d10023] mt-10 text-center">Portrætter</h3>
    <div class="flex justify-between md:mx-10 mb-16 md:mb-24 gap-10">

    <div class="w-1/2 over:opacity-70 hover:ease-out transition duration-300">
        <video controls poster="mette.png">
            <source src="https://www.dansestudiet.dk/wp-content/uploads/2022/07/Mette_Portrait_Dance.mp4?_=1" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <figcaption class="py-4 text-center text-lg text-[#FF3859]">Mette</figcaption>
              </div>

    <div class="w-1/2 over:opacity-70 hover:ease-out transition duration-300">
        <video controls poster="elvin.png">
            <source src="https://www.dansestudiet.dk/wp-content/uploads/2022/07/elvin-portrait-webpage.mp4?_=2" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <figcaption class="py-4 text-center text-lg text-[#FF3859]">Elvin</figcaption>
    </div>
          

    <div class="w-1/2 over:opacity-70 hover:ease-out transition duration-300">
        <video controls poster="johanne.png">
            <source src="https://www.dansestudiet.dk/wp-content/uploads/2022/07/Johanne-web.mp4?_=3" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <figcaption class="py-4 text-center text-lg text-[#FF3859]">Johanne</figcaption>
              </div>
</div>
</div>